{% extends "base.html" %}

{% block content %}

  <div>
  Similarities versions:
  <ul>
  {% for similar_article in object.similar_articles.all %}
    <li><a href="{% url "article-diff" %}?r1={{ object.latest_version.pk }}&r2={{ similar_article.latest_version.pk }}">Compare to {{ similar_article.article_title }} ({{ similar_article.source }})</a></li>
  {% endfor %}
  </ul>
  </div>

{% with object.latest_version as version %}
  <div>
  <a href="{{ object.url }}">Bron</a>
  <h1>{{ version.article_title }}</h1>
  <p>
  {{ version.article_content }}
  </p>
  </div>
{% endwith %}

{% for version in cmp_list %}
  <a href="{% url "article-diff" %}?r1={{version.0.pk}}&r2={{version.1.pk}}">Diff between {{ version.0.pk }} and {{ version.1.pk }}</a>

{% endfor %}
{% endblock %}
