{% extends "base.html" %}

{% block content %}

{% for version in object.articleversion_set.all %}
  <div>
  <a href="{{ object.url }}">Bron</a>
  <h1>{{ version.article_title }}</h1>
  <p>
  {{ version.article_content }}
  </p>
  </div>
  <div>
  Similarities versions:
  <ul>
  {% for similar_version in version.similar_versions.all %}
    <li><a href="{% url "article-diff" %}?r1={{ version.pk }}&r2={{ similar_version.pk }}">Compare to {{ version.pk }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endfor %}

{% for version in cmp_list %}
  <a href="{% url "article-diff" %}?r1={{version.0.pk}}&r2={{version.1.pk}}">Diff between {{ version.0.pk }} and {{ version.1.pk }}</a>

{% endfor %}
{% endblock %}
