{% extends "base.html" %}

{% block content %}

{% for variant in object.articlevariant_set.all %}
  <div>
  <a href="{{ object.url }}">Bron</a>
  <h1>{{ variant.article_title }}</h1>
  <p>
  {{ variant.article_content }}
  </p>
  </div>
  <div>
  Similarities variants:
  <ul>
  {% for similar_variant in variant.similar_versions.all %}
    <li><a href="{% url "article-diff" %}?r1={{ variant.pk }}&r2={{ similar_variant.pk }}">Compare to {{ variant.pk }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endfor %}

{% for variant in cmp_list %}
  <a href="{% url "article-diff" %}?r1={{variant.0.pk}}&r2={{variant.1.pk}}">Diff between {{ variant.0.pk }} and {{ variant.1.pk }}</a>

{% endfor %}
{% endblock %}
